<html>

<head>
    <meta charset="utf-8" />
</head>

<body>

    <!-- <script src="./socket.io/socket.io.js"></script> -->
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.js"></script>
    <script>

        socket = io.connect('ws://' + '8.130.23.101' + ':' + '26666' + '/wslogin', {
            reconnectionDelayMax: 10000,
            query: {
                "username": "marin",
                "password": "qwer1234"
            }
        });
        if (socket) {
            console.log('Connected to user')
        }
        // socket.emit("clint", query)//用于客服端发送请求服务器端
        
        socket.on("reply", (x) => {//用于接收服务器发送客服端
            console.log(x);
        })

    </script>
</body>

</html>